Repository Yawn-Wider/YWPolarisVore, pull requests merged in 2020-06, with the labels that each got.

#794 Update encryptionkey_vr.dm
  maps/yw/items/encryptionkey_vr.dm
Labels: Type: Vore, bug fix

#797 Tiny-Voreupdate
  code/game/jobs/job/silicon_vr.dm
  code/game/machinery/machinery.dm
  code/game/objects/structures/kitchen_foodcart_vr.dm
  code/modules/research/designs/engineering.dm
  icons/obj/kitchen_vr.dmi
  maps/tether/submaps/space/guttersite.dmm
  maps/tether/tether-03-surface3.dmm
  maps/yw/cryogaia-05-main.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map, Type: Vore, upstream

#798 gutter site and fuel depot
  maps/yw/cryogaia_defines.dm
  maps/yw/submaps/_cryogaia_submaps.dm
  maps/yw/submaps/space/_fueldepot.dm
  maps/yw/submaps/space/_guttersite.dm
  maps/yw/submaps/space/fueldepot.dmm
  maps/yw/submaps/space/guttersite.dmm
Labels: Type: Map, enhancement

#801 Voreupdate
  code/game/machinery/teleporter.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/events/event_container_vr.dm
  icons/obj/closets/abductor.dmi
  icons/obj/closets/bases/crate.dmi
  icons/obj/closets/decals/crate.dmi
  icons/obj/closets/largebin.dmi
  maps/tether/submaps/space/guttersite.dmm
  maps/yw/submaps/space/guttersite.dmm
Labels: Type: Icon, Type: Map, Type: Vore, upstream

#802 Quick fix for drinks and puts the old love potion back(i'll do a quick test before travis accepts)
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks_yw.dm
  code/modules/reagents/Chemistry-Recipes_vr.dm
  code/modules/reagents/Chemistry-Recipes_yw.dm
  icons/obj/drinks_yw.dmi
  vorestation.dme
Labels: Type: Icon, Type: Vore, enhancement

#807 Fixes RPDs so they all work spawned or not, activated or not, etc.
  code/game/objects/items/weapons/RPD_vr.dm
Labels: Type: Vore, bug fix

#808 adds missing comments
  code/game/objects/items/weapons/RPD_vr.dm
Labels: Type: Vore

#809 Removes all restrictions on tail / ears / etc selection, no ckey lock…
  code/modules/vore/appearance/sprite_accessories_vr.dm
Labels: Type: Vore

#811 fixes #810
  maps/yw/cryogaia_jobs.dm
Labels: bug fix

#812 Residentials expansion
  icons/turf/areas_yw.dmi
  maps/yw/residential/_residential.dm
  maps/yw/residential/backup/residential.dmm
  maps/yw/residential/residential.dmm
  maps/yw/residential/residential_keys.dm
Labels: Type: Icon, Type: Map, enhancement

#813 Guiltybeans/RareShekel residence
  maps/yw/residential/residential.dmm
  maps/yw/residential/residential_keys.dm
Labels: Type: Map, enhancement

#814 Removing S6 and putting Mocha in a RS unit
  maps/yw/residential/residential.dmm
  maps/yw/residential/residential_keys.dm
Labels: Type: Map, enhancement

#818 Makes mods actually show up
  code/game/verbs/ooc.dm
  code/game/verbs/who.dm
Labels: bug fix

#825 Autolathe update
  code/datums/autolathe/autolathe_yw.dm
Labels: bug fix, enhancement

#827 Mapping fixes
  icons/turf/snow_yw.dmi
  maps/yw/cryogaia-01-centcomm.dmm
  maps/yw/cryogaia-02-mining.dmm
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Icon, Type: Map, bug fix

#829 fixes runtime(hopefully) on slime on using oculusosone
  code/modules/Phorochemistry/phororeagent.dm
Labels: bug fix

#831 New Cyborg Skin
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  icons/mob/robots.dmi
  icons/mob/robots_yw.dmi
Labels: Type: Icon, enhancement

#830 Gives coffee shop a backroom for making donuts, suggestion of pull request #543
  maps/yw/cryogaia-04-maintenance.dmm
Labels: Type: Map, enhancement
