Repository Yawn-Wider/YWPolarisVore, pull requests merged in 2020-08, with the labels that each got.

#918 Kelmaptweaks
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/residential/residential.dmm
Labels: Type: Map

#919 tesh markings fix
  icons/mob/human_races/markings_yw.dmi
Labels: Type: Icon, bug fix

#921 tesh markings fix
  icons/mob/human_races/markings_yw.dmi
Labels: Type: Icon, bug fix

#924 Mapping Updates
  code/modules/xenoarcheaology/misc.dm
  maps/yw/cryogaia-01-centcomm.dmm
  maps/yw/cryogaia-02-mining.dmm
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-06-upper.dmm
Labels: Type: Map, enhancement

#925 Voreupdate (emergency fixes)
  code/game/machinery/computer/arcade.dm
  code/modules/catalogue/cataloguer_vr.dm
  code/modules/food/recipe.dm
Labels: Type: Vore, upstream

#926 Kelmaptweaks
  maps/yw/cryogaia-05-main.dmm
  maps/yw/residential/residential.dmm
Labels: Type: Map

#929 Miscellaneous Updates
  code/datums/supplypacks/misc_yw.dm
  code/game/jobs/access_datum_yw.dm
  code/game/jobs/job/blueshield.dm
  code/game/jobs/job/science_vr.dm
  code/game/objects/structures/crates_lockers/closets/secure/closets_yw.dm
  code/modules/persistence/noticeboard_yw.dm
  code/modules/xenoarcheaology/misc.dm
  maps/yw/cryogaia-05-main.dmm
  vorestation.dme
Labels: Type: Map, Type: Vore

#930 Kbraidtweaks
  code/modules/mob/holder.dm
  icons/mob/holder_complex_yw.dmi
Labels: Type: Icon

#932 Voreupdate (small)
  code/game/objects/items/weapons/storage/backpack_vr.dm
  code/modules/mob/living/life.dm
  code/modules/tgui/tgui_window.dm
  code/modules/vore/appearance/sprite_accessories_taur_vr.dm
  code/modules/vore/resizing/resize_vr.dm
  icons/mob/back_vr.dmi
Labels: Type: Icon, Type: Vore, upstream

#934 Makes pool use non un-simulated sand and sets the shallow water to use the pool subtype instead of the indoor subtype
  maps/yw/cryogaia-04-maintenance.dmm
Labels: Type: Map

#927 Adds VR pods to the recreation room, with a VR game on the CentCom le…
  code/game/objects/items/weapons/material/chainsaw.dm
  icons/turf/areas_yw.dmi
  maps/yw/cryogaia-01-centcomm.dmm
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia_areas.dm
Labels: Type: Icon, Type: Map

#938 Disables Aurora Caelus and re-adds supply demand
  code/modules/events/event_container_vr.dm
Labels: Type: Vore

#939 new white gearharness and redid yw xion sprites, added new gear harne…
  code/modules/client/preference_setup/loadout/loadout_xeno_yw.dm
  code/modules/organs/robolimbs_yw.dm
  code/modules/vore/fluffstuff/custom_clothes_yw.dm
  icons/mob/human_races/cyberlimbs/xion/xion_alt5.dmi
  icons/vore/custom_clothes_yw.dmi
Labels: Type: Icon, enhancement

#935 Map cleanup
  code/modules/events/spider_migration_yw.dm
  code/modules/projectiles/guns/energy/laser_yw.dm
  maps/yw/cryogaia-02-mining.dmm
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-06-upper.dmm
  maps/yw/cryogaia_things.dm
Labels: Type: Map

#940 gives X-01 and gauss rifle hand sprites, todo: take a look at the sprites and change anything needed.
  code/modules/projectiles/guns/energy/laser_yw.dm
  code/modules/projectiles/guns/energy/nuclear_yw.dm
  icons/mob/items/lefthand_guns_yw.dmi
  icons/mob/items/righthand_guns_yw.dmi
Labels: Type: Icon, bug fix

#959 Jeanne fluff prosthetics. needs PR#958
  code/modules/organs/robolimbs_yw.dm
  code/modules/vore/appearance/sprite_accessories_yw.dm
  icons/mob/human_races/cyberlimbs/dopiotl/jeanne_nanovulp.dmi
  icons/mob/human_races/cyberlimbs/dopiotl/nanovulp_animations.dmi
Labels: Type: Icon

#963 Fixes #962 and adds trader shuttle to the wilderness
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-09-wilderness.dmm
Labels: Type: Map

#964 fixes rpd sometimes having a null recipe
  code/game/objects/items/weapons/RPD_vr.dm
Labels: Type: Vore, bug fix

#965 some fixes to the mappu
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-09-wilderness.dmm
  maps/yw/cryogaia_areas.dm
  maps/yw/cryogaia_defines.dm
Labels: Type: Map

#967 tweaks vr game to replace stews with protein pills (stews give them t…
  maps/yw/cryogaia-07-misc.dmm
Labels: Type: Map

#968 Makes the belter scanner actually work again
  maps/yw/cryogaia_defines.dm
Labels: bug fix

#972 Update cryogaia-06-upper.dmm
  maps/yw/cryogaia-06-upper.dmm
Labels: Type: Map, bug fix

#973 Voreupdate
  code/ATMOSPHERICS/components/trinary_devices/filter.dm
  code/__defines/misc.dm
  code/_onclick/ai.dm
  code/_onclick/cyborg.dm
  code/game/jobs/job/civilian_chaplain.dm
  code/game/jobs/job/engineering_vr.dm
  code/game/jobs/job/medical_vr.dm
  code/game/jobs/job/science_vr.dm
  code/game/jobs/job/security_vr.dm
  code/game/machinery/air_alarm.dm
  code/game/machinery/computer/Operating.dm
  code/game/machinery/pipe/pipe_dispenser.dm
  code/game/machinery/pipe/pipe_recipes.dm
  code/game/machinery/washing_machine.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/weapons/id cards/station_ids_vr.dm
  code/game/objects/structures/tank_dispenser.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/simulated.dm
  code/modules/food/drinkingglass/metaglass.dm
  code/modules/food/drinkingglass/metaglass_vr.dm
  code/modules/lore_codex/news_data/main.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks_vr.dm
  code/modules/reagents/Chemistry-Recipes_vr.dm
  code/modules/vore/eating/belly_obj_vr.dm
  config/alienwhitelist.txt
  config/custom_sprites.txt
  config/example/config.txt
  html/changelogs/BlinsKot - strafing.yml
  html/changelogs/Kot-Washing.yml
  icons/mob/custom_synthetic.dmi
  icons/mob/custom_synthetic_vr.dmi
  icons/mob/human_face.dmi
  icons/mob/human_face_m.dmi
  icons/obj/drinks_vr.dmi
  icons/obj/storage.dmi
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  tgui/packages/tgui/components/DraggableControl.js
  tgui/packages/tgui/components/Knob.js
  tgui/packages/tgui/interfaces/AtmosFilter.js
  tgui/packages/tgui/interfaces/Canister.js
  tgui/packages/tgui/interfaces/OperatingComputer.js
  tgui/packages/tgui/interfaces/PipeDispenser.js
  tgui/packages/tgui/interfaces/SmartVend.js
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/packages/tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Fluff, Type: Vore, upstream

#977 a few fixes
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-06-upper.dmm
Labels: Type: Map

#981 Fix #822: Rapid Piping Device heat pipes have no sprite
  code/game/machinery/pipe/pipe_recipes.dm
Labels: bug fix

#983 adds more jeanne displays.
  code/modules/organs/robolimbs_yw.dm
  icons/mob/human_races/cyberlimbs/dopiotl/nanovulp_animations.dmi
Labels: Type: Icon

#988 Map Hotfix
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-06-upper.dmm
  maps/yw/cryogaia_areas.dm
Labels: Type: Map, bug fix

#989 Fix micro recoil AGAIN
  code/modules/projectiles/gun.dm
Labels: bug fix

#990 Update cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-04-maintenance.dmm
Labels: Type: Map

#992 Fix #991
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-06-upper.dmm
Labels: Type: Map

#994 small tweaks
  code/modules/client/preference_setup/loadout/loadout_fluffitems_yw.dm
  code/modules/clothing/suits/aliens/seromi_yw.dm
  code/modules/vore/fluffstuff/custom_clothes_yw.dm
  icons/mob/species/seromi/teshari_cloak_yw.dmi
  icons/vore/custom_clothes_yw.dmi
Labels: Type: Fluff, Type: Icon, enhancement
