Repository Yawn-Wider/YWPolarisVore, pull requests merged in 2020-07, with the labels that each got.

#834 RS6 and RS11 for Rourwen, pantsu and izac
  maps/yw/residential/residential.dmm
  maps/yw/residential/residential_keys.dm
Labels: enhancement

#837 Residentials
  maps/yw/residential/residential.dmm
Labels: Type: Map

#838 Adds the Plains exploration level, just some snowy plains that can be…
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia_defines.dm
  maps/yw/submaps/_cryogaia_submaps.dm
  maps/yw/submaps/cryogaia_plains.dmm
  maps/yw/submaps/cryogaia_plains/cryogaia_plains.dm
  maps/yw/submaps/cryogaia_plains/cryogaia_plains.dmm
Labels: Type: Map

#839 Boozefix
  code/modules/mob/living/silicon/robot/emote.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
Labels: Type: Vore

#840 Makes wood logs worth points (lumbering time)
  code/modules/materials/materials.dm
Labels: enhancement

#841 Updates the station waste and distribution monitors
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Map, bug fix, enhancement

#842 Chomphoodedcloaks
  code/modules/client/preference_setup/loadout/loadout_xeno_yw.dm
  code/modules/clothing/suits/aliens/seromi_yw.dm
  icons/mob/species/seromi/teshari_cloak_yw.dmi
  icons/mob/species/seromi/teshari_hood_yw.dmi
  vorestation.dme
Labels: Type: Icon

#845 Adds in cyber dragon wings.
  code/modules/vore/appearance/sprite_accessories_yw.dm
  icons/mob/vore/wings_yw.dmi
Labels: Type: Icon, enhancement

#846 Jean's chocolate box
  code/modules/client/preference_setup/loadout/loadout_fluffitems_yw.dm
  code/modules/vore/fluffstuff/custom_items_yw.dm
  icons/vore/custom_items_left_hand_yw.dmi
  icons/vore/custom_items_right_hand_yw.dmi
  icons/vore/custom_items_yw.dmi
Labels: Type: Fluff, Type: Icon

#850 Alt pattern for the xion outfit: named xion (yw alt)
  code/modules/organs/robolimbs_yw.dm
  icons/mob/human_races/cyberlimbs/xion/xion_alt5.dmi
Labels: Type: Icon

#851 replacing some windows with reinforced and added showers in one room
  maps/yw/residential/residential.dmm
Labels: Type: Map

#853 Fixes some events, removes unused scripts related to TGS3, etc
  code/controllers/master.dm
  code/controllers/subsystems/discord.dm
  code/game/world.dm
  code/modules/DMAPI/st_commands.dm
  code/modules/DMAPI/st_interface.dm
  code/modules/DMAPI/yawnDMAPI.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/paperwork/faxmachine_vr.dm
  vorestation.dme
Labels: Type: Vore

#854 Fixes cooper now correctly. Ack
  code/modules/mob/living/simple_mob/subtypes/animal/space/animals_yw.dm
  icons/mob/animal_yw.dmi
Labels: Type: Icon, bug fix

#857 adds health analyzer back to regular medkits
  code/game/objects/items/weapons/storage/firstaid_vr.dm
Labels: Type: Vore

#858 Revert "Fixes some events, removes unused scripts related to TGS3, etc"
  code/controllers/master.dm
  code/controllers/subsystems/discord.dm
  code/game/world.dm
  code/modules/DMAPI/st_commands.dm
  code/modules/DMAPI/st_interface.dm
  code/modules/DMAPI/yawnDMAPI.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/paperwork/faxmachine_vr.dm
  vorestation.dme
Labels: Type: Vore

#859 Revert "Revert "Fixes some events, removes unused scripts related to TGS3, etc""
  code/controllers/master.dm
  code/controllers/subsystems/discord.dm
  code/game/world.dm
  code/modules/DMAPI/st_commands.dm
  code/modules/DMAPI/st_interface.dm
  code/modules/DMAPI/yawnDMAPI.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/paperwork/faxmachine_vr.dm
  vorestation.dme
Labels: Type: Vore

#861 Updates the Booze hound to a animated one.
  icons/mob/widerobot_colors_vr.dmi
Labels: Type: Icon, Type: Vore, enhancement

#862 Create avigoggles_yw.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_yw.dm
  code/modules/vore/fluffstuff/custom_clothes_yw.dm
  icons/vore/custom_clothes_yw.dmi
  icons/vore/custom_clothes_yw_special.dmi
Labels: Type: Fluff, Type: Icon

#867 [FIX] Restores CAMERA_DEFAULT network to monitors
  maps/yw/cryogaia_defines.dm
Labels: bug fix

#866 Puts back Belt mining
  maps/yw/cryogaia-01-centcomm.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia_defines.dm
  maps/yw/cryogaia_shuttle_defs.dm
  maps/yw/submaps/_cryogaia_submaps.dm
  maps/yw/submaps/rogue_mines/rogue_mine1.dmm
  maps/yw/submaps/rogue_mines/rogue_mine2.dmm
  maps/yw/submaps/rogue_mines/rogue_mine3.dmm
  maps/yw/submaps/rogue_mines/rogue_mine4.dmm
Labels: Type: Map, enhancement

#870 Submap updates
  maps/yw/submaps/gateway/carpfarm.dm
  maps/yw/submaps/gateway/carpfarm.dmm
  maps/yw/submaps/gateway/listeningpost.dm
  maps/yw/submaps/gateway/listeningpost.dmm
  maps/yw/submaps/gateway/snow_outpost.dm
  maps/yw/submaps/gateway/snow_outpost.dmm
  maps/yw/submaps/gateway/snowfield.dm
  maps/yw/submaps/gateway/zoo.dmm
  maps/yw/submaps/space/_debrisfield.dm
  maps/yw/submaps/space/debrisfield.dmm
  maps/yw/submaps/space/pois/carp_asteroids1.dmm
  maps/yw/submaps/space/pois/debris3.dmm
  maps/yw/submaps/space/pois/debris4.dmm
  maps/yw/submaps/space/pois/debris5.dmm
  maps/yw/submaps/space/pois/debris6.dmm
  maps/yw/submaps/space/pois/derelict.dmm
  maps/yw/submaps/space/pois/foodstand.dmm
  maps/yw/submaps/space/pois/oldshuttle.dmm
  maps/yw/submaps/space/pois/ship_med_crashed.dmm
  maps/yw/submaps/space/pois/ship_sci_overrun.dmm
  maps/yw/submaps/space/pois/ship_sup_exploded.dmm
Labels: Type: Map

#871 Fixes the bluespace radio
  code/game/objects/items/devices/radio/radio_yw.dm
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia_telecomms.dm
  maps/yw/structures/closets/misc_vr.dm
  maps/yw/submaps/admin_ships/adminship.dmm
  maps/yw/submaps/space/guttersite.dmm
  vorestation.dme
Labels: Type: Map, Type: Vore

#872 Minor Voreupdate
  code/controllers/subsystems/ai.dm
  code/controllers/subsystems/mobs.dm
  code/datums/outfits/spec_op.dm
  code/datums/supplypacks/munitions.dm
  code/datums/uplink/visible_weapons.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/game/objects/random/guns_and_ammo.dm
  code/game/objects/structures/crates_lockers/_closets_appearance_definitions.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/admin/create_object.dm
  code/modules/mob/living/carbon/human/npcs.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/ammunition/rounds.dm
  code/modules/projectiles/ammunition/smartmag.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/phase.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/launcher/crossbow.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/boltaction.dm
  code/modules/projectiles/guns/projectile/caseless.dm
  code/modules/projectiles/guns/projectile/contender.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/semiauto.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/obj/ammo.dmi
  icons/obj/closets/decals/crate.dmi
  icons/obj/gun.dmi
  icons/obj/gun2.dmi
  maps/tether/submaps/offmap/talon1.dmm
Labels: upstream

#876 Makes plains not tp you to space
  maps/yw/cryogaia_defines.dm
Labels: bug fix

#878 Map fixes and changes
  code/game/area/Space Station 13 areas.dm
  maps/yw/cryogaia-02-mining.dmm
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Map, bug fix

#877 correct tail for alt pattern tail
  code/modules/vore/appearance/sprite_accessories_yw.dm
  icons/mob/vore/tails_yw.dmi
Labels: Type: Icon, bug fix

#879 Updates the belter and adds radio pack crate
  code/datums/supplypacks/misc_yw.dm
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Map, enhancement

#880 Maintenance Touchups
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Map, bug fix, enhancement

#881 More Traits
  code/modules/mob/living/carbon/human/species/station/traits_vr/negative.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
Labels: Type: Vore, enhancement

#882 Bar/Kitchen Piping Fixes
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Map, enhancement

#888 moves tp to a 7 tile radius from the edge (updates rougemine zlevels)
  maps/yw/submaps/rogue_mines/rogue_mine1.dmm
  maps/yw/submaps/rogue_mines/rogue_mine2.dmm
  maps/yw/submaps/rogue_mines/rogue_mine3.dmm
  maps/yw/submaps/rogue_mines/rogue_mine4.dmm
Labels: Type: Map

#890 New bullet sprite and gun related stuff
  code/datums/autolathe/arms_1_yw.dm
  code/modules/projectiles/ammunition/rounds_yw.dm
  code/modules/projectiles/guns/projectile/automatic_yw.dm
  code/modules/projectiles/guns/projectile/shotgun_yw.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/magnetic.dm
  icons/obj/projectiles_yw.dmi
Labels: Type: Icon, enhancement

#891 i am dumb
  maps/yw/submaps/gateway/carpfarm.dmm
  maps/yw/submaps/gateway/listeningpost.dmm
  maps/yw/submaps/gateway/snow_outpost.dmm
  maps/yw/submaps/gateway/snowfield.dmm
Labels: bug fix

#893 Fixes web bindings to use tesh sprites weee
  code/modules/vore/appearance/spider_taur_powers_vr.dm
  icons/vore/custom_onmob_yw.dmi
Labels: Type: Icon, Type: Vore, bug fix

#886 Outpost Upper Level [WIP]
  code/game/area/Space Station 13 areas_yw.dm
  code/game/objects/structures/crates_lockers/_closets_appearance_definitions_yw.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets_yw.dm
  code/modules/multiz/turf_yw.dm
  code/modules/power/lighting.dm
  icons/turf/areas_yw.dmi
  maps/yw/cryogaia-01-centcomm.dmm
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-06-upper.dmm
  maps/yw/cryogaia.dm
  maps/yw/cryogaia_areas.dm
  maps/yw/cryogaia_defines.dm
  maps/yw/cryogaia_shuttle_defs.dm
  maps/yw/cryogaia_shuttles.dm
  maps/yw/cryogaia_things.dm
  maps/yw/cryogaia_turfs.dm
  maps/yw/elevator_areas.dm
  maps/yw/residential/_residential.dm
  maps/yw/service_elevator_things.dm
  vorestation.dme
Labels: Type: Icon, Type: Map, enhancement

#895 Makes it you cannot scoop critters that are 0.5 taller than you.
  code/modules/mob/holder.dm
Labels: enhancement

#894 Upper Floor Pt.2
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-06-upper.dmm
  maps/yw/cryogaia_areas.dm
  maps/yw/cryogaia_defines.dm
  maps/yw/cryogaia_turfs.dm
Labels: Type: Map, enhancement

#896 new tesh cloaks
  code/modules/client/preference_setup/loadout/loadout_xeno_yw.dm
  code/modules/clothing/suits/aliens/seromi_yw.dm
  icons/mob/species/seromi/teshari_cloak_yw.dmi
  icons/vore/custom_clothes_yw.dmi
Labels: Type: Icon, enhancement

#900 ERT Equipment Updates
  maps/yw/cryogaia-01-centcomm.dmm
Labels: Type: Map

#904 Voreupdate (tiny)
  code/modules/mob/living/bot/medbot.dm
  code/modules/reagents/Chemistry-Recipes.dm
Labels: upstream

#905 Further Map Updoots
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-06-upper.dmm
Labels: Type: Map, enhancement

#906 'Reverts' a bunch of changes that we've made through the years and se…
  code/__defines/_globals.dm
  code/__defines/construction.dm
  code/__defines/server_tools.config.dm
  code/__defines/server_tools.dm
  code/__defines/species_languages.dm
  code/__defines/species_languages_YW.dm
  code/_helpers/global_lists_vr.dm
  code/datums/supplypacks/contraband.dm
  code/game/area/Away Mission areas.dm
  code/game/gamemodes/sandbox/h_sandbox.dm
  code/game/machinery/computer/guestpass.dm
  code/game/machinery/pipe/pipe_dispenser.dm
  code/game/mecha/combat/gorilla.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/world.dm
  code/modules/mining/reward_yw.dm
  icons/mob/human_races/monkeys/r_sergaling_vr.dmi
  icons/mob/human_races/monkeys/r_sobaka_vr.dmi
  icons/mob/human_races/monkeys/r_sparra_vr.dmi
  nano/css/shared.css
  vorestation.dme
Labels: Type: Icon, Type: Vore

#907 Voreupdate (small)
  code/game/machinery/biogenerator.dm
  code/game/machinery/computer/camera.dm
  code/modules/mob/living/bot/medbot.dm
  code/modules/projectiles/guns/energy/netgun_vr.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks_vr.dm
  code/modules/reagents/Chemistry-Recipes_vr.dm
  code/modules/research/designs/weapons_vr.dm
  code/modules/ventcrawl/ventcrawl.dm
  code/modules/vore/eating/living_vr.dm
  maps/tether/tether-03-surface3.dmm
Labels: Type: Map, Type: Vore, upstream

#910 CHOMPSTATION MEMORY STUFF, should be everything i guess
  code/__defines/misc.dm
  code/_global_vars/lists/mapping.dm
  code/controllers/configuration.dm
  code/game/antagonist/antagonist_print.dm
  code/game/jobs/access.dm
  code/game/machinery/computer/ai_core.dm
  code/game/machinery/computer/prisoner.dm
  code/game/machinery/door_control.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/pointdefense.dm
  code/game/machinery/syndicatebeacon.dm
  code/game/machinery/teleporter.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/game/objects/items/devices/communicator/helper.dm
  code/game/objects/items/devices/translocator_vr.dm
  code/game/objects/items/weapons/teleportation.dm
  code/game/objects/structures/morgue.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/hydroponics/seed_controller.dm
  code/modules/mining/drilling/drill.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/mob.dm
  code/modules/power/supermatter/setup_supermatter.dm
  code/modules/power/tesla/energy_ball.dm
  code/modules/shuttles/shuttle_console.dm
  code/modules/xenoarcheaology/tools/tools.dm
Labels: Type: Vore

#912 Voreupdate (small)
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/computer/camera.dm
  code/game/objects/objs.dm
  code/modules/clothing/under/accessories/clothing.dm
  code/modules/food/recipes_microwave.dm
  code/modules/food/recipes_oven.dm
  code/modules/mob/living/carbon/human/emote_vr.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/resleeving/computers.dm
  icons/obj/trash.dmi
  interface/skin.dmf
  maps/tether/submaps/gateway/snow_outpost.dmm
  maps/tether/submaps/offmap/talon1.dmm
  maps/tether/submaps/offmap/talon2.dmm
  maps/tether/submaps/om_ships/shelter_6.dmm
  maps/tether/submaps/space/guttersite.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether_areas.dm
  maps/yw/submaps/gateway/snow_outpost.dmm
  maps/yw/submaps/space/guttersite.dmm
Labels: Type: Icon, Type: Map, Type: Vore, upstream

#909 [TEST] Map Tweaks
  code/game/area/Space Station 13 areas_yw.dm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-06-upper.dmm
Labels: Type: Map, enhancement
