Repository Yawn-Wider/YWPolarisVore, pull requests merged in 2020-12, with the labels that each got.

#1035 Voreupdate
  code/ATMOSPHERICS/pipes/tank_vr.dm
  code/__defines/mobs.dm
  code/game/machinery/computer/camera_vr.dm
  code/game/machinery/vending_machines_vr.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/weapons/clown_items.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/structures/props/alien_props_vr.dm
  code/game/objects/structures/watercloset.dm
  code/game/turfs/simulated/floor_types_vr.dm
  code/modules/economy/cash_register.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/hydroponics/seedtypes/eggplant.dm
  code/modules/hydroponics/seedtypes/mushrooms.dm
  code/modules/hydroponics/seedtypes/tobacco.dm
  code/modules/materials/materials.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_stacking.dm
  code/modules/mining/machine_unloading.dm
  code/modules/mining/mine_items.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mining/shelter_atoms_vr.dm
  code/modules/overmap/abductor_vr.dm
  code/modules/overmap/spacetravel.dm
  code/modules/paperwork/pen.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/dispenser/dispenser_presets_vr.dm
  code/modules/recycling/conveyor2.dm
  code/modules/resleeving/machines_vr.dm
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/effects/effects_vr.dmi
  icons/obj/abductor_vr.dmi
  icons/obj/clothing/masks_vr.dmi
  icons/obj/hydroponics_products.dmi
  maps/expedition_vr/alienship/_alienship.dm
  maps/expedition_vr/space/_fueldepot.dm
  maps/offmap_vr/om_ships/abductor.dm
  maps/offmap_vr/om_ships/abductor.dmm
  maps/offmap_vr/om_ships/itglight.dmm
  maps/submaps/surface_submaps/plains/lonehome_vr.dmm
  maps/submaps/surface_submaps/plains/plains.dm
  maps/tether/submaps/_tether_submaps.dm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  tgui/packages/tgui/interfaces/MiningOreProcessingConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Icon, Type: Vore, upstream

#1037 Add biochemical manipulator to the mining sublevel
  code/modules/hydroponics/seed_machines_yw.dm
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z4.png
  icons/_nanomaps/tether_nanomap_z8.png
  icons/_nanomaps/tether_nanomap_z9.png
  icons/obj/hydroponics_machines_yw.dmi
  maps/yw/cryogaia-02-mining.dmm
Labels: DO NOT MERGE, Type: Icon, Type: Map

#1038 MapMerge
  maps/yw/cryogaia-02-mining.dmm
  vorestation.dme
Labels: Type: Map

#1040 Voreupdate
  code/_helpers/global_lists_vr.dm
  code/defines/obj/weapon.dm
  code/game/machinery/machinery.dm
  code/game/machinery/rechargestation.dm
  code/game/machinery/vending_machines_vr.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/structures/bonfire.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/silicon/robot/dogborg/dog_sleeper_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/softdog.dm
  code/modules/multiz/admin_upload.dm
  code/modules/research/destructive_analyzer.dm
  code/modules/vore/appearance/preferences_vr.dm
  code/modules/vore/appearance/sprite_accessories_taur_vr.dm
  code/modules/vore/appearance/sprite_accessories_vr.dm
  code/modules/vore/appearance/update_icons_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  config/alienwhitelist.txt
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/mob/species/werebeast/back.dmi
  icons/mob/vore/hair_accessories_vr.dmi
  icons/mob/vore/taurs_vr.dmi
  icons/turf/areas.dmi
  icons/vore/custom_clothes_vr.dmi
  icons/vore/custom_items_vr.dmi
  icons/vore/custom_onmob_vr.dmi
  maps/offmap_vr/om_ships/itglight.dmm
  maps/submaps/admin_use_vr/fun.dm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether_areas.dm
  maps/yw/cryogaia_areas.dm
  vorestation.dme
Labels: Type: Fluff, Type: Icon, Type: Vore, upstream

#1042 Tiny fix
  maps/yw/cryogaia-09-wilderness.dmm
  maps/yw/cryogaia_things.dm
  maps/yw/submaps/rogue_mines/rogue_mine1.dmm
  maps/yw/submaps/rogue_mines/rogue_mine2.dmm
  maps/yw/submaps/rogue_mines/rogue_mine3.dmm
  maps/yw/submaps/rogue_mines/rogue_mine4.dmm
Labels: Type: Map
