Repository Yawn-Wider/YWPolarisVore, pull requests merged in 2020-10, with the labels that each got.

#1020 Revert "[RTM] KBraid residential room"
  code/modules/vore/fluffstuff/custom_furnature_yw.dm
  icons/vore/custom_furniture_yw.dmi
  maps/yw/residential/residential.dmm
  maps/yw/residential/residential_keys.dm
  vorestation.dme
Labels: Type: Icon, Type: Map

#1021 [rtm] kbraid room - nudged objects fixed no more stutter step
  code/modules/vore/fluffstuff/custom_furniture_yw.dm
  icons/vore/custom_furniture_yw.dmi
  maps/yw/residential/residential.dmm
  maps/yw/residential/residential_keys.dm
  vorestation.dme
Labels: Type: Icon, Type: Map

#1023 [rtm] Kbraid room - replace cabnet with footlocker
  maps/yw/residential/residential.dmm
Labels: DO NOT MERGE, Type: Map

#1025 tesh rd claok & winter coat tesh fix
  code/modules/client/preference_setup/loadout/loadout_xeno_yw.dm
  code/modules/clothing/suits/aliens/seromi_yw.dm
  code/modules/clothing/suits/hooded_yw.dm
  icons/mob/species/seromi/suit_yw.dmi
  icons/mob/species/seromi/teshari_cloak_yw.dmi
Labels: Type: Icon

#1027 Kbraid.antidepresantdrink
  code/modules/economy/price_list_yw.dm
  code/modules/food/drinkingglass/metaglass_yw.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks_yw.dm
  code/modules/reagents/Chemistry-Recipes_yw.dm
  icons/obj/drinks_yw.dmi
  vorestation.dme
Labels: Type: Icon

#1028 couple more fluff items
  code/game/objects/items/toys/toys_yw.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_yw.dm
  code/modules/vore/fluffstuff/custom_clothes_yw.dm
  icons/vore/custom_clothes_yw.dmi
  icons/vore/custom_items_yw.dmi
  icons/vore/custom_onmob_yw.dmi
Labels: Type: Fluff, Type: Icon
