Repository Yawn-Wider/YWPolarisVore, pull requests merged in 2021-04, with the labels that each got.

#1091 Fixes Plains gen
  maps/yw/cryogaia_defines.dm
Labels: bug fix

#1093 tiny map tweaks
  maps/yw/cryogaia-01-centcomm.dmm
  maps/yw/cryogaia-02-mining.dmm
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-09-wilderness.dmm
Labels: Type: Map

#1095 Voreupdate
  code/game/objects/random/mapping_vr.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_blob.dm
  code/modules/vore/resizing/resize_vr.dm
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z4.png
  icons/_nanomaps/tether_nanomap_z8.png
  icons/_nanomaps/tether_nanomap_z9.png
  icons/mob/vore.dmi
  maps/gateway_archive_vr/fileList.txt
  maps/submaps/admin_use_vr/kk_mercship.dmm
  maps/submaps/admin_use_vr/mercship.dm
  maps/submaps/pois_vr/aerostat/virgo2.dm
  maps/tether/submaps/tether_misc.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
Labels: upstream

#1096 Fixes shuttle
  maps/yw/cryogaia-06-upper.dmm
Labels: Type: Map

#1098 tiny map tweaks
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-06-upper.dmm
Labels: Type: Map

#1100 Voreupdate
  code/_helpers/global_lists_vr.dm
  code/game/dna/dna2_helpers.dm
  code/modules/mob/living/carbon/human/species/species_vr.dm
  code/modules/mob/living/carbon/human/species/station/blank_vr.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/planet/borealismajoris.dm
Labels: Type: Vore, upstream

#1101 Voreupdate
  code/game/objects/structures/crates_lockers/closets/misc_vr.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/head/pilot_helmet_vr.dm
  code/modules/mob/living/carbon/human/species/species_vr.dm
  code/modules/mob/living/carbon/human/species/station/blank_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/vore/custom_items_vr.dmi
  maps/offmap_vr/om_ships/shelter_6.dmm
  maps/offmap_vr/talon/talon.dm
  maps/tether/tether-07-station3.dmm
  vorestation.dme
Labels: Type: Icon, Type: Map, Type: Vore, upstream

#1102 Voreupdate
  code/game/machinery/portable_turret_vr.dm
  code/modules/mining/shelter_atoms_vr.dm
  code/modules/mob/living/carbon/human/species/station/xenochimera_trait_vr.dm
  maps/offmap_vr/om_ships/shelter_6.dm
  maps/offmap_vr/om_ships/shelter_6.dmm
  maps/southern_cross/loadout/loadout_head.dm
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Map, Type: Vore, upstream

#1104 Izac
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Map

#1105 Various things
  code/modules/clothing/under/accessories/holster.dm
  code/modules/mob/living/bot/cleanbot.dm
  icons/misc/title_yw.dmi
  icons/ywicon.png
  interface/skin.dmf
Labels: Type: Icon, bug fix, enhancement

#1107 Voreupdate and tiny map tweaks
  code/__defines/misc.dm
  code/controllers/subsystems/ticker.dm
  code/game/machinery/adv_med.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/items/weapons/id cards/YW_ids.dm
  code/game/objects/items/weapons/melee/misc_vr.dm
  code/game/objects/structures/crates_lockers/closets/secure/security_vr.dm
  code/modules/catalogue/catalogue_data_vr.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/under/accessories/accessory_vr.dm
  code/modules/clothing/under/accessories/holster_vr.dm
  code/modules/library/lib_machines.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_mob/subtypes/animal/giant_spider/lorenzo.dm
  code/modules/pda/messenger.dm
  code/modules/persistence/noticeboard.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/_nanomaps/tether_nanomap_z3.png
  icons/mob/animal_yw.dmi
  icons/mob/items/lefthand_melee_vr.dmi
  icons/mob/items/righthand_melee_vr.dmi
  icons/mob/ties_vr.dmi
  icons/obj/clothing/ties_vr.dmi
  icons/obj/weapons_vr.dmi
  icons/vore/custom_items_vr.dmi
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether-06-station2.dmm
  maps/tether/tether-07-station3.dmm
  maps/tether/tether_defines.dm
  maps/yw/cryogaia-02-mining.dmm
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-09-wilderness.dmm
  tgui/packages/tgui/interfaces/BodyScanner.js
  tgui/packages/tgui/interfaces/CookingAppliance.js
  tgui/packages/tgui/interfaces/ExosuitFabricator.js
  tgui/packages/tgui/interfaces/ResearchConsole.js
  tgui/packages/tgui/interfaces/StationBlueprints.js
  tgui/packages/tgui/interfaces/Uplink.js
  tgui/packages/tgui/public/tgui.bundle.js
  vorestation.dme
Labels: Type: Icon, Type: Map, Type: Vore, enhancement, upstream

#1109 tiny excuse to force tgs to update
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Map

#1110 Added reinforced glass windows and foodstuff to jeanne room
  maps/yw/residential/residential.dmm
Labels: Type: Map, enhancement
