Repository Yawn-Wider/YWPolarisVore, pull requests merged in 2021-12, with the labels that each got.

#1223 Small Fixes
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia_things.dm
Labels: bug fix, Type: Map

#1225 Voreupdate [MDB IGNORE] [IDB IGNORE]
  code/game/objects/items/devices/denecrotizer_vr.dm
  code/game/objects/items/weapons/capture_crystal.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/rings/rings.dm
  code/modules/mob/living/carbon/human/death_vr.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_species.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/spacewhale.dm
  code/modules/nifsoft/nif.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/stamps.dm
  code/modules/vore/eating/digest_act_vr.dm
  code/modules/vore/fluffstuff/custom_items_vr.dm
  icons/obj/sofas.dmi
  icons/vore/custom_items_vr.dmi
  maps/stellardelight/stellar_delight2.dmm
  maps/yw/cryogaia-07-misc.dmm
  maps/yw/submaps/cryogaia_plains/cryogaia_plains.dmm
Labels: upstream, Type: Vore, Type: Icon, Type: Map

#1226 Large map update, and christmas stuff
  maps/yw/cryogaia-02-mining.dmm
  maps/yw/cryogaia-03-transit.dmm
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-06-upper.dmm
Labels: enhancement, bug fix, Type: Map

#1228 Small tweaks to the last map update
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Map

#1229 Voreupdate [MDB IGNORE] [IDB IGNORE]
  code/game/machinery/computer/guestpass.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/wishgranter.dm
  code/game/objects/structures/simple_doors.dm
  code/game/objects/structures/trash_pile_vr.dm
  code/modules/client/preferences_toggle_procs.dm
  code/modules/client/preferences_vr.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/examine/descriptions/engineering.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/mob/living/simple_mob/on_click.dm
  code/modules/mob/living/simple_mob/simple_mob_vr.dm
  code/modules/mob/mob.dm
  code/modules/multiz/ladders.dm
  code/modules/persistence/storage/smartfridge.dm
  code/modules/power/smes_construction.dm
  code/modules/projectiles/guns/energy/bsharpoon_vr.dm
  code/modules/vore/eating/living_vr.dm
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z4.png
  icons/_nanomaps/tether_nanomap_z5.png
  icons/mob/vore/ears_32x64.dmi
  maps/expedition_vr/aerostat/aerostat_science_outpost.dmm
  maps/offmap_vr/common_offmaps.dm
  maps/stellardelight/ship_centcom.dmm
  maps/stellardelight/stellar_delight1.dmm
  maps/stellardelight/stellar_delight_defines.dm
  maps/stellardelight/stellar_delight_telecomms.dm
  maps/submaps/admin_use_vr/ert.dmm
  maps/tether/submaps/tether_centcom.dmm
  maps/tether/tether_defines.dm
  maps/tether/tether_telecomms.dm
Labels: upstream, Type: Vore, Type: Icon, Type: Map

#1230 Voreupdate [MDB IGNORE] [IDB IGNORE]
  code/modules/client/preference_setup/loadout/loadout_suit_vr.dm
  code/modules/clothing/suits/labcoat_vr.dm
  code/modules/economy/vending_machines.dm
  code/modules/economy/vending_machines_vr.dm
  code/modules/projectiles/guns/energy/bsharpoon_vr.dm
  icons/inventory/suit/item_vr.dmi
  icons/inventory/suit/mob_vr.dmi
Labels: upstream, Type: Vore, Type: Icon

#1231 Voreupdate [MDB IGNORE] [IDB IGNORE]
  code/game/objects/items/weapons/capture_crystal.dm
  code/game/objects/structures/artstuff.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/hydroponics/trays/tray_update_icons.dm
  code/modules/mob/new_player/sprite_accessories_ear.dm
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  code/modules/multiz/movement.dm
  code/modules/projectiles/guns/energy/bsharpoon_vr.dm
  code/modules/reagents/reactions/instant/drinks_vr.dm
  icons/obj/hydroponics_growing.dmi
  icons/obj/hydroponics_products.dmi
  icons/obj/seeds.dmi
  maps/stellardelight/stellar_delight2.dmm
Labels: upstream, Type: Vore, Type: Icon, Type: Map

#1232 Voreupdate [MDB IGNORE] [IDB IGNORE]
  code/__defines/belly_modes_vr.dm
  code/datums/autolathe/medical_vr.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/client/preference_setup/loadout/loadout_fluffitems_vr.dm
  code/modules/clothing/spacesuits/rig/modules/specific/passive_protection.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_mob/combat.dm
  code/modules/mob/living/simple_mob/subtypes/humanoid/mercs/mercs.dm
  code/modules/multiz/ladders_vr.dm
  code/modules/multiz/portals_vr.dm
  code/modules/research/mechfab_designs.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_datum_vr.dm
  code/modules/vore/eating/bellymodes_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/resizing/resize_vr.dm
  icons/inventory/belt/mob_teshari.dmi
  icons/mob/species/teshari/back.dmi
  icons/mob/species/teshari/head.dmi
  icons/mob/species/teshari/masks.dmi
  icons/mob/species/teshari/suit.dmi
  icons/mob/species/teshari/uniform.dmi
  icons/mob/widerobot_eng_vr.dmi
  icons/obj/stationobjs_vr.dmi
  maps/stellardelight/stellar_delight1.dmm
  maps/stellardelight/stellar_delight2.dmm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: upstream, Type: Vore, Type: Icon, Type: Map
