Repository Yawn-Wider/YWPolarisVore, pull requests merged in 2021-06, with the labels that each got.

#1131 Voreupdate
  code/modules/instruments/songs/_song.dm
  code/modules/instruments/songs/play_synthesized.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_powers.dm
Labels: Type: Vore, upstream

#1132 Voreupdate
  code/datums/chat_message.dm
  code/datums/supplypacks/misc_vr.dm
  code/game/machinery/jukebox.dm
  code/game/machinery/vending_machines_vr.dm
  code/game/turfs/space/space.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/lighting/lighting_turf.dm
  code/modules/media/juke_remote.dm
  code/modules/media/walkpod.dm
  code/modules/organs/robolimbs_vr.dm
  code/modules/research/designs/misc_vr.dm
  code/modules/vore/fluffstuff/custom_clothes_yw.dm
  icons/obj/device_vr.dmi
  icons/vore/custom_clothes_yw.dmi
  maps/offmap_vr/om_ships/aro3.dmm
  maps/offmap_vr/talon/talon_v2.dmm
  maps/submaps/_helpers.dm
  vorestation.dme
Labels: Type: Icon, Type: Map, Type: Vore, upstream

#1133 Voreupdate
  code/datums/supplypacks/misc_vr.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/game/objects/random/mob.dm
  code/game/objects/structures/props/rocks.dm
  code/modules/admin/admin_verb_lists.dm
  code/modules/admin/verbs/dbcon_fix.dm
  code/modules/food/recipe.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/unit_tests/recipe_tests.dm
  icons/obj/flora/rocks.dmi
  icons/obj/outcrop.dmi
  maps/~map_system/maps.dm
  tgui/packages/tgui/interfaces/SecureSafe.js
  tgui/packages/tgui/public/tgui.bundle.js
  tools/ci/compile_and_run.sh
  vorestation.dme
Labels: Type: Icon, Type: Vore, upstream

#1135 Voreupdate
  code/datums/outfits/outfit_vr.dm
  code/game/machinery/doors/blast_door.dm
  code/game/objects/items/devices/radio/radiopack.dm
  code/game/objects/items/weapons/storage/backpack_vr.dm
  code/game/objects/items/weapons/storage/belt_vr.dm
  code/game/objects/structures/holoplant.dm
  code/modules/admin/admin_verb_lists_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/dragon.dm
  config/jukebox.json
  icons/mob/back_vr.dmi
  icons/mob/belt_vr.dmi
  icons/obj/clothing/backpack_vr.dmi
  icons/obj/clothing/belts_vr.dmi
  icons/obj/device_vr.dmi
  icons/obj/doors/1x2blast_hor.dmi
  icons/obj/doors/1x2blast_vert.dmi
  icons/obj/doors/1x3blast_hor.dmi
  icons/obj/doors/1x3blast_vert.dmi
  icons/obj/doors/1x4blast_hor.dmi
  icons/obj/doors/1x4blast_vert.dmi
  maps/offmap_vr/om_ships/aro3.dmm
Labels: Type: Icon, Type: Map, Type: Vore, upstream

#1141 tiny voreupdate
  code/_helpers/unsorted.dm
Labels: upstream

#1142 Adds panic buttons to the ships.
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-06-upper.dmm
Labels: Type: Map

#1144 uncovers some areas that should have be covered
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Map

#1146 uncovers eleven tiles that were randomly covered
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Map

#1147 Macro Activation
  code/modules/client/client defines.dm
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Map

#1150 adds smoleworld holodeck to our misc map
  maps/yw/cryogaia-07-misc.dmm
Labels: Type: Map

#1152 Fixes two runtimes
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
Labels: Type: Vore

#1153 Fixes phenethylamine and a phoronreagent emotes
  code/modules/Phorochemistry/phororeagent.dm
  code/modules/reagents/kelshark.dm
  maps/yw/cryogaia-04-maintenance.dmm
Labels: Type: Map, bug fix

#1154 Fixes GeneShadekins so they can use more languages
  code/modules/mob/living/carbon/human/species/shadekin/shadekin_yw.dm
Labels: bug fix

#1155 fixes overlays stacking forever on freeze airlock
  maps/yw/cryogaia-02-mining.dmm
  maps/yw/cryogaia_things.dm
Labels: Type: Map, bug fix
