Repository Yawn-Wider/YWPolarisVore, pull requests merged in 2022-02, with the labels that each got.

#1241 Map changes, lighting, new janitor sign, major fix to sec armory.
  code/game/objects/structures/signs.dm
  code/modules/events/drone_pod_vr.dm
  icons/obj/decals_yw.dmi
  maps/yw/cryogaia-02-mining.dmm
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Vore, Type: Icon, Type: Map

#1244 Voreupdate [MDB IGNORE] [IDB IGNORE]
  code/_helpers/global_lists.dm
  code/controllers/subsystems/supply.dm
  code/game/dna/dna2.dm
  code/game/machinery/constructable_frame.dm
  code/game/objects/items/weapons/capture_crystal.dm
  code/game/objects/items/weapons/implants/implantlanguage.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/client/preference_setup/loadout/loadout_cyberware.dm
  code/modules/client/stored_item.dm
  code/modules/mob/living/living.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/shieldgen/directional_shield.dm
  code/modules/telesci/quantum_pad.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  icons/mob/human_races/markings.dmi
  maps/stellardelight/stellar_delight3.dmm
  maps/submaps/engine_submaps/engine.dm
Labels: upstream

#1243 Small map bugfixes
  code/game/area/Space Station 13 areas_yw.dm
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Map

#1247 Voreupdate [MDB IGNORE] [IDB IGNORE]
  code/ATMOSPHERICS/components/unary/vent_pump.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/simulated/outdoors/outdoors_vr.dm
  code/modules/admin/admin_verb_lists_vr.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/events/event_container_vr.dm
  code/modules/mob/living/simple_mob/subtypes/vore/morph/morph.dm
  icons/_nanomaps/tether_nanomap_z1.png
  icons/_nanomaps/tether_nanomap_z2.png
  icons/_nanomaps/tether_nanomap_z3.png
  icons/_nanomaps/tether_nanomap_z4.png
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  maps/tether/tether_shuttle_defs.dm
Labels: upstream, Type: Vore, Type: Icon, Type: Map

#1248 Voreupdate [MDB IGNORE] [IDB IGNORE]
  code/game/machinery/computer/arcade.dm
  code/game/objects/items/weapons/capture_crystal.dm
  code/game/objects/random/misc_vr.dm
  code/modules/economy/coins_vr.dm
  code/modules/economy/trader.dm
  code/modules/hydroponics/seedtypes/grass.dm
  code/modules/reagents/reactions/instant/instant.dm
  code/modules/reagents/reagents/other.dm
  icons/obj/traderx64.dmi
  icons/obj/vending_vr.dmi
  maps/om_adventure/pois/medicalcenter.dmm
  maps/om_adventure/pois/woodentemple.dmm
  sound/music/capture_crystal_1.ogg
  sound/music/capture_crystal_2.ogg
  vorestation.dme
Labels: upstream, Type: Vore, Type: Icon, Type: Sound, Type: Map
