Repository Yawn-Wider/YWPolarisVore, pull requests merged in 2022-03, with the labels that each got.

#1250 Bunch of atmospherics and disposals fixes.
  maps/yw/cryogaia-02-mining.dmm
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-06-upper.dmm
Labels: Type: Map

#1252 Voreupdate [MDB IGNORE] [IDB IGNORE]
  code/_helpers/atmospherics.dm
  code/datums/supplypacks/munitions_vr.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/weapons/material/twohanded_vr.dm
  code/game/objects/structures/trash_pile_vr.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/clothing/gloves/miscellaneous_vr.dm
  code/modules/clothing/head/fishing.dm
  code/modules/clothing/under/accessories/armor.dm
  code/modules/economy/trader.dm
  code/modules/economy/vending_machines.dm
  code/modules/emotes/definitions/audible_furry_vr.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/silicon/robot/robot_modules/station.dm
  code/modules/mob/living/silicon/robot/robot_modules/station_vr.dm
  code/modules/mob/living/simple_mob/appearance.dm
  code/modules/mob/living/simple_mob/subtypes/vore/morph/morph.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/pda/pda.dm
  code/modules/reagents/reactions/instant/instant_vr.dm
  code/modules/reagents/reagents/medicine_vr.dm
  icons/inventory/head/item_vr_fishing.dmi
  icons/inventory/head/mob_vr_fishing.dmi
  icons/mob/human_face.dmi
  icons/mob/human_face_m.dmi
  icons/mob/items/lefthand_melee_vr.dmi
  icons/mob/items/righthand_melee_vr.dmi
  icons/mob/modular_armor.dmi
  icons/obj/beekeeping.dmi
  icons/obj/landmark_vr.dmi
  icons/obj/weapons_vr.dmi
  maps/expedition_vr/beach/beach.dmm
  maps/gateway_vr/eggnogtown.dmm
  maps/gateway_vr/eggnogtownunderground.dmm
  maps/gateway_vr/variable/arynthilake_a.dmm
  maps/gateway_vr/variable/arynthilake_b.dmm
  maps/gateway_vr/variable/honlethhighlands_a.dmm
  maps/gateway_vr/variable/honlethhighlands_b.dmm
  maps/gateway_vr/wildwest.dmm
  maps/offmap_vr/talon/talon_v2.dmm
  maps/om_adventure/pois/cabin1.dmm
  maps/om_adventure/pois/cabin2.dmm
  maps/om_adventure/pois/camp.dmm
  maps/om_adventure/pois/medicalcenter.dmm
  maps/om_adventure/pois/shippart1.dmm
  maps/om_adventure/pois/shuttlewreck2.dmm
  maps/om_adventure/pois/shuttlewreck4.dmm
  maps/om_adventure/pois/woodentemple.dmm
  maps/stellardelight/ship_centcom.dmm
  maps/stellardelight/stellar_delight3.dmm
  maps/tether/submaps/tether_centcom.dmm
  maps/tether/tether-02-surface2.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether-05-station1.dmm
  vorestation.dme
Labels: upstream, Type: Vore, Type: Icon

#1255 Voreupdate [MDB IGNORE] [IDB IGNORE]
  code/__defines/belly_modes_vr.dm
  code/datums/roundstats/roundstats.dm
  code/game/machinery/cryopod.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/economy/vending_machines.dm
  code/modules/emotes/emote_mob.dm
  code/modules/games/wizoff.dm
  code/modules/mob/living/living_defines_vr.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/robot/examine.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/spacewhale.dm
  code/modules/mob/living/simple_mob/subtypes/vore/dominated_brain.dm
  code/modules/mob/say.dm
  code/modules/mob/say_vr.dm
  code/modules/pda/pda.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_vr.dm
  code/modules/vore/eating/living_vr.dm
  icons/obj/pda_slider.dmi
  icons/obj/playing_cards.dmi
  maps/offmap_vr/om_ships/bearcat.dmm
  maps/offmap_vr/om_ships/cruiser.dmm
  maps/offmap_vr/om_ships/shelter_6.dmm
  maps/stellardelight/ship_centcom.dmm
  maps/submaps/admin_use_vr/dhael_centcom.dmm
  maps/submaps/admin_use_vr/ert.dmm
  maps/submaps/admin_use_vr/kk_mercship.dmm
  maps/submaps/depreciated_vr/ert_base.dmm
  maps/submaps/depreciated_vr/mercbase.dmm
  maps/submaps/pois_vr/aerostat/Rockybase.dmm
  maps/submaps/surface_submaps/mountains/CaveTrench.dmm
  maps/submaps/surface_submaps/plains/Boathouse.dmm
  maps/submaps/surface_submaps/plains/Boathouse_vr.dmm
  maps/submaps/surface_submaps/plains/Thiefc.dmm
  maps/tether/submaps/tether_centcom.dmm
  maps/tether/tether-03-surface3.dmm
  maps/yw/cryogaia-04-maintenance.dmm
  vorestation.dme
Labels: upstream, Type: Vore, Type: Icon, Type: Map

#1259 removes extra /
  maps/yw/cryogaia-01-centcomm.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/submaps/admin_ships/adminship.dmm
Labels: Type: Map

#1260 Voreupdate [MDB IGNORE] [IDB IGNORE]
  code/controllers/subsystems/transcore_vr.dm
  code/datums/components/crafting/recipes/weapons.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/gunbox.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/random/guns_and_ammo.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/turfs/simulated.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verb_lists_vr.dm
  code/modules/admin/admin_verbs_vr.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/ai/ai_holder_subtypes/slime_xenobio_ai.dm
  code/modules/mob/dead/observer/observer_vr.dm
  code/modules/mob/living/carbon/human/species/station/prommie_blob.dm
  code/modules/mob/living/carbon/human/species/station/protean_vr/protean_blob.dm
  code/modules/nifsoft/nif.dm
  code/modules/nifsoft/software/10_combat.dm
  code/modules/organs/organ_external.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/energy/laser_vr.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/nuclear_vr.dm
  code/modules/projectiles/guns/projectile/contender.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/pistol_vr.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/random_map/drop/droppod.dm
  code/modules/resleeving/autoresleever.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/slipvore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  icons/obj/gun.dmi
  icons/obj/machines/autoresleever.dmi
  maps/stellardelight/stellar_delight1.dmm
  maps/submaps/surface_submaps/plains_yw/Boathouse.dmm
  maps/submaps/surface_submaps/plains_yw/Boathouse_vr.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-03-surface3.dmm
  maps/tether/tether_areas.dm
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia_areas.dm
  vorestation.dme
Labels: upstream, Type: Vore

#1262 Voreupdate [MDB IGNORE] [IDB IGNORE]
  code/_helpers/global_lists_vr.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/tools/screwdriver.dm
  code/game/objects/items/weapons/tools/wirecutters.dm
  code/game/turfs/simulated/floor_attackby.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/ai/ai_holder_subtypes/slime_xenobio_ai.dm
  code/modules/mob/living/simple_mob/subtypes/animal/alien animals/catslug.dm
  code/modules/mob/living/simple_mob/subtypes/slime/xenobio/subtypes.dm
  code/modules/mob/living/simple_mob/subtypes/slime/xenobio/xenobio.dm
  code/modules/reagents/reactions/instant/instant_vr.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/resleeving/autoresleever.dm
  code/modules/vore/resizing/holder_micro_vr.dm
  code/modules/xenobio/items/extracts.dm
  code/modules/xenobio/items/extracts_vr.dm
  code/modules/xenobio/items/slime_objects.dm
  code/modules/xenobio/items/slimepotions.dm
  code/modules/xenobio/items/slimepotions_vr.dm
  icons/inventory/back/item.dmi
  icons/inventory/back/mob.dmi
  icons/mob/alienanimals_x32.dmi
  icons/mob/items/lefthand_holder.dmi
  icons/mob/items/righthand_holder.dmi
  icons/mob/slimes_vr.dmi
  maps/expedition_vr/space/fueldepot.dmm
  maps/tether/tether-01-surface1.dmm
  maps/tether/tether-05-station1.dmm
  maps/yw/cryogaia-05-main.dmm
  vorestation.dme
Labels: upstream, Type: Vore, Type: Icon, Type: Map
