Repository Yawn-Wider/YWPolarisVore, pull requests merged in 2024-01, with the labels that each got.

#1360 Unwhitelists Clown and Mimes but add a 3 day minimal player age.
  code/game/jobs/job/special_vr.dm
Labels: Type: Vore

#1361 makes less tunnelers spawn and remove already existing bad bad npcs
  maps/yw/yw_vrstuff/vrmaps.dmm
  maps/yw/yw_vrstuff/vrmaps_things.dm
Labels: Type: Vore, Type: Map

#1362 Voreupdate [MDB IGNORE] [IDB IGNORE]
  code/game/objects/effects/effect_system.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  icons/_nanomaps/tether_nanomap_z3.png
  maps/redgate/eggnogtown.dmm
  maps/redgate/eggnogtownunderground.dmm
  maps/redgate/hotsprings.dmm
Labels: upstream, Type: Icon, Type: Map

#1346 Revert "a few xmas additions - to revert sometime next year"
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Map

#1364 Fixes aztaur missing hand inlays
  icons/mob/vore/taurs_yw.dmi
Labels: Type: Icon

#1366 DMAPI Update 7.0.1
  code/__defines/tgs.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: Type: TGS

#1367 Lower Station Level Touchups
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Map

#1369 Removes another cable i forgot to mention in the review #1367
  maps/yw/cryogaia-04-maintenance.dmm
Labels: Type: Map

#1371 Finishes sleepy sergal updates - also techpriest sprite fix
  code/modules/modular_computers/file_system/news_article.dm
  icons/vore/custom_onmob_yw.dmi
  news_articles/the_sleepy_sergal_3.html
Labels: bug fix, Type: Icon

#1363 Redoes the Expedition shuttle a little bit, removing unused features …
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-06-upper.dmm
  maps/yw/cryogaia_shuttles.dm
Labels: DO NOT MERGE, Type: Map

#1375 Xmas map revert PR Followup
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/simulated/water.dm
  icons/turf/outdoors_yw.dmi
  maps/yw/cryogaia-04-maintenance.dmm
Labels: Type: Icon, Type: Map

#1376 Fixes the alcohol traits
  code/modules/mob/living/carbon/human/species/station/traits_vr/negative.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/positive.dm
Labels: bug fix, Type: Vore

#1378 Gives AI a starter shell, shells only have 3 modules now.
  maps/yw/cryogaia-04-maintenance.dmm
Labels: Type: Map

#1379 Voreupdate [MDB IGNORE] [IDB IGNORE]
  code/game/area/areas_vr.dm
  code/game/machinery/camera/tracking.dm
  code/modules/events/spontaneous_appendicitis_vr.dm
  code/modules/gamemaster/event2/events/medical/appendicitis.dm
  code/modules/projectiles/guns/energy/altevian_vr.dm
  code/modules/tgui/modules/camera.dm
  code/modules/vore/eating/mob_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/mouseray.dm
  code/modules/vore/resizing/resize_vr.dm
  icons/inventory/back/mob.dmi
  icons/mob/items/lefthand_guns.dmi
  icons/mob/items/righthand_guns.dmi
  icons/obj/gun.dmi
  icons/obj/projectiles_impact.dmi
  icons/obj/projectiles_muzzle.dmi
  icons/obj/projectiles_tracer.dmi
  maps/groundbase/groundbase_areas.dm
  maps/stellar_delight/stellar_delight_areas.dm
  maps/tether/tether_areas.dm
Labels: upstream, Type: Vore, Type: Icon

#1380 Various tiny map fixes and Camera improvements
  maps/yw/cryogaia-02-mining.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-06-upper.dmm
Labels: Type: Map

#1384 Underwear port (Izac Check)
  code/datums/underwear/bottom.dm
  code/datums/underwear/socks.dm
  code/datums/underwear/top.dm
  code/datums/underwear/undershirts.dm
  code/datums/underwear/underwear.dm
  icons/mob/human_yw.dmi
Labels: Type: Icon

#1385 Mining event
  maps/yw/cryogaia_defines.dm
  maps/yw/submaps/_cryogaia_submaps.dm
  maps/yw/submaps/far_mining/_far_mining.dm
  maps/yw/submaps/far_mining/far_mining.dmm
  maps/yw/submaps/far_mining/far_mining_under.dmm
Labels: Type: Map

#1386 Residential update - remove inactives
  maps/yw/residential/residential.dmm
  maps/yw/residential/residential_inactive.dmm
  maps/yw/residential/residential_keys.dm
Labels: Type: Map

#1388 Makes Bridge blast doors make sense
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Map

#1387 Large Bunny Ears (Requested)
  code/modules/mob/new_player/sprite_accessories_ear.dm
  icons/mob/vore/ears_32x64_yw.dmi
Labels: Type: Icon

#1389 Added Resident visitor alt title and Jaybird1s residence added.
  code/game/jobs/job/assistant_vr.dm
  maps/yw/residential/_residential.dm
  maps/yw/residential/residential.dmm
  maps/yw/residential/residential_keys.dm
Labels: enhancement, Type: Vore, Type: Map

#1390 Big Blanket of Cyrogaia Tweaks
  code/game/objects/items/weapons/traps.dm
  code/game/objects/random/mapping.dm
  icons/turf/outdoors_yw.dmi
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-06-upper.dmm
Labels: enhancement, Type: Icon, Type: Map

#1393 Fixes sun and open tiles on cryogaia
  code/modules/planet/borealismajoris.dm
  code/modules/planet/planet.dm
  maps/yw/cryogaia_areas.dm
  maps/yw/cryogaia_turfs.dm
Labels: bug fix

#1395 Moves the apc for the medium residences in to the entrace hallway
  maps/yw/residential/residential.dmm
Labels: Type: Map

#1397 Fixes and reorganizes areas refer to commit description [MDB IGNORE]
  maps/yw/cryogaia-02-mining.dmm
  maps/yw/cryogaia-03-transit.dmm
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-06-upper.dmm
  maps/yw/cryogaia-09-wilderness.dmm
  maps/yw/cryogaia_areas.dm
  maps/yw/cryogaia_defines.dm
Labels: bug fix, Type: Map

#1396 Locker and maint pile fix
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
Labels: DO NOT MERGE, Type: Map

#1402 Fixes the arrivals locker room airlock
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Map

#1403 re-adds AI shell
  maps/yw/cryogaia-04-maintenance.dmm
Labels: Type: Map

#1401 [MDB IGNORE] Fix turf snow blending for cryogaia and adds new snowbrick flooring
  code/game/objects/items/stacks/tiles/fifty_spawner_tiles_yw.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/items/stacks/tiles/tile_types_yw.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/flooring/flooring_premade_yw.dm
  code/game/turfs/flooring/flooring_yw.dm
  code/game/turfs/simulated/floor_icon.dm
  code/game/turfs/simulated/outdoors/snow.dm
  code/game/turfs/simulated/outdoors/snow_yw.dm
  code/modules/materials/materials/snow.dm
  code/modules/materials/sheets/snow.dm
  code/modules/multiz/turf_yw.dm
  icons/obj/stacks_yw.dmi
  icons/turf/floors_edge_yw.dmi
  icons/turf/floors_yw.dmi
  icons/turf/outdoors_edge_yw.dmi
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-09-wilderness.dmm
  maps/yw/cryogaia_turfs.dm
  vorestation.dme
Labels: enhancement, bug fix, Type: Icon, Type: Map

#1404 Far mining updoot
  code/game/jobs/job/assistant_vr.dm
  code/game/objects/items/stacks/tiles/fifty_spawner_tiles_yw.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/items/stacks/tiles/tile_types_yw.dm
  code/game/objects/items/weapons/traps.dm
  code/game/objects/random/mapping.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/flooring/flooring_premade_yw.dm
  code/game/turfs/flooring/flooring_yw.dm
  code/game/turfs/simulated/floor_icon.dm
  code/game/turfs/simulated/outdoors/snow.dm
  code/game/turfs/simulated/outdoors/snow_yw.dm
  code/modules/materials/materials/snow.dm
  code/modules/materials/sheets/snow.dm
  code/modules/mob/new_player/sprite_accessories_ear.dm
  code/modules/multiz/turf_yw.dm
  code/modules/planet/borealismajoris.dm
  code/modules/planet/planet.dm
  icons/_nanomaps/cryogaia-05-main_nanomap_z1.png
  icons/_nanomaps/cryogaia_nanomap_z4.png
  icons/_nanomaps/cryogaia_nanomap_z6.png
  icons/mob/vore/ears_32x64_yw.dmi
  icons/obj/stacks_yw.dmi
  icons/turf/floors_edge_yw.dmi
  icons/turf/floors_yw.dmi
  icons/turf/outdoors_edge_yw.dmi
  icons/turf/outdoors_yw.dmi
  maps/yw/cryogaia-02-mining.dmm
  maps/yw/cryogaia-03-transit.dmm
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-06-upper.dmm
  maps/yw/cryogaia-09-wilderness.dmm
  maps/yw/cryogaia_areas.dm
  maps/yw/cryogaia_defines.dm
  maps/yw/cryogaia_turfs.dm
  maps/yw/residential/_residential.dm
  maps/yw/residential/residential.dmm
  maps/yw/residential/residential_inactive.dmm
  maps/yw/residential/residential_keys.dm
  news_articles/the_sleepy_sergal_3.html
  vorestation.dme
Labels: Type: Vore, Type: Icon, Type: Map

#1405 Adds the Hydra Trait from Skyrat.
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/carbon/human/species/station/traits_yw/neutral.dm
  code/modules/vore/traits_yw/living_yw.dm
  vorestation.dme
Labels: enhancement, Type: Vore

#1406 Fix missing things in jay residential
  maps/yw/residential/residential.dmm
Labels: Type: Map

#1407 Bumps adv roller beds surgery odds to 75 and improves camera coverage in two areas
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  maps/yw/cryogaia-02-mining.dmm
  maps/yw/cryogaia-06-upper.dmm
Labels: Type: Map

#1410 Teshfix
  code/modules/mob/holder.dm
Labels: bug fix

#1413 Implements and places relief vents on cryogaia-05-main.dmm
  code/ATMOSPHERICS/components/unary/vent_pump.dm
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Map

#1414 Places relief vents on cryogaia-06-upper.dmm
  maps/yw/cryogaia-06-upper.dmm
Labels: Type: Map

#1416 General map additions
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia-06-upper.dmm
Labels: Type: Map
