Repository Yawn-Wider/YWPolarisVore, pull requests merged in 2024-04, with the labels that each got.

#1444 A little bit of danger for logging operations
  icons/obj/structures_yw32x32.dmi
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia_things.dm
Labels: enhancement, Type: Icon, Type: Map

#1447 Shadekin nerfs
  code/__defines/misc.dm
  code/__defines/misc_vr.dm
  code/modules/mob/living/carbon/human/species/shadekin/shadekin.dm
  code/modules/mob/living/carbon/human/species/shadekin/shadekin_abilities.dm
  code/modules/telesci/bscyrstal.dm
  maps/yw/yw_vrstuff/vrmaps_turfs.dm
  modular_chomp/code/modules/mob/living/carbon/human/species/shadekin/shadekin_abilities.dm
  modular_chomp/code/modules/telesci/bscrystal.dm
  vorestation.dme
Labels: Type: Vore, Shadekin

#1448 Shadekinnerfs
  code/modules/mob/living/carbon/human/species/shadekin/shadekin.dm
Labels: Shadekin

#1449 Shadekin phase shielding areas, ticket printers sec
  code/game/area/Space Station 13 areas.dm
  code/game/area/Space Station 13 areas_yw.dm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia_areas.dm
Labels: Type: Map, Shadekin

#1450 shadekin Artifical bluespace crystals, fixes holo dorm flags
  code/game/area/Space Station 13 areas_yw.dm
  maps/yw/cryogaia-04-maintenance.dmm
  maps/yw/cryogaia-05-main.dmm
  maps/yw/cryogaia_areas.dm
Labels: Type: Map, Shadekin

#1453 adds two hatchets perimeter checkpoint
  maps/yw/cryogaia-05-main.dmm
Labels: Type: Map
